@tailwind base;

@tailwind components;

@tailwind utilities;


:root {
  --vDarkBlue: #010039;
  --wDarkBlue: #031268;
  --darkBlue: #0129a8;
  --vDarkMagenta: #300d2a;
  --darkMagenta: #661b72;
  --modMagenta: #b53d72;
  --modPink: #d5466f;
  --softRed: #fd9c7d;
  --vSoftYellow: #feeeb2;
}

#app {
  position: absolute;
}

.my-container {
  background-color: var(--darkMagenta);
}

.header {
  background-image: url("https://i.ibb.co/Jr6qvzP/background.png");
  /* background-image: url("https://i.ibb.co/VjhszsQ/cherry-Banner.jpg"); */
  background-size: contain;
  background-image: -webkit-gradient();
  background-repeat: no-repeat;
  background-position: right;
  background-color: #010039;
  box-shadow: 1px 1px 6px 1px var(--wDarkBlue);

  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-left: 30px;

  margin-bottom: 12px;
}

.title {
  font-size: 45px;
  color: var(--vSoftYellow);
  text-shadow: 0 0 3px var(--softRed);
}

.coordTag {
  font-size: medium;
  color: white;
  text-shadow:3px black;
}


.body-container{
  display: inline;
  width: 100vw;
}

.side-bar {
  height: 79vh;
  width: 120px;
  background: rgb(1,41,168);
  background: linear-gradient(0deg, rgba(1,0,57,1) 0%, rgba(3,18,104,1) 41%, rgba(1,41,168,1) 61%);
  padding-top: 16px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  float: left;
  margin-right: 16px;
}

.room {
  background: var(--softRed);
  background: radial-gradient(circle, rgba(253,156,125,1) 0%, rgba(213,70,111,1) 100%);
  border-style: double;
  border-color: var(--vDarkMagenta);
  border-width: 6px;
  width: 96px;
  height: 96px;
  border-radius: 8px;
  text-align: center;
  color: white;
  margin-bottom: 16px;
  font-size: 16px;
}

.room:hover {
  background: radial-gradient(circle, var(--vSoftYellow) 0%, var(--softRed) 100%);
}

.chat-window {
  background-color: var(--modMagenta);
  text-align: left;
  font-size: xx-large;
  color: white;
  height: 79vh;
  display: flex;
  flex-direction: column;
}

.user-name {
  background-color: var(--modPink);
  border-bottom: var(--vDarkMagenta);
  border-bottom-style: double;
  border-bottom-width: 3px;
}

.message {
  font-size: large;
  background-color: var(--modPink);
  padding-left: 10px;
  margin: 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-items: end;
}

.messages {
  overflow-y: scroll;
  height: 62vh;
}

/* Chat Box */
.input-box {
  width: 100%;
  font-size: medium;
  color: black;
  padding: 10px;
}

.chat-input {
  background-color: white;
  margin: 10px;
}


/* Chat Button */
.chat-button {
  justify-self: right;
  border-radius: 6px;
  background-color: var(--darkBlue);
  color: #FFFFFF;
  text-align: center;
  text-shadow: 3px var(--vSoftYellow);
  font-size: large;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  margin: 5px;
}

.chat-button:hover {
  background-color: var(--vDarkBlue);
}


/* Modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.modal-container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  width: 500px;
  background-color: white;
  padding: 16px;
}

.modal input {
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container button:nth-of-type(1) {
  background-color: white;
  color: black;
  margin-right: 8px;
}

.button-container button:nth-of-type(1):hover {
  background-color: lightgray;
}